:root {
  /*Fonts */
  --main-font: Roboto Regular, Raleway, sans-serif;
  /* Text colors*/
  --txt-color: #212121;
  --seconds-text: #757575;
  /* Background-color*/
  --button-color: #2196f3;
  --backgfoot-color: #2f303a;
  --backgsection-color: #f5f5f5;
  --section-color: #f5f4fa;
  --header-color: #ffffff;
  /* Others*/
  --focus-color: #188ce8;
  --border-color: #ececec;
  --bords-colors: #eeeeee;
  --icon-color: #afb1b8;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-time: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--header-color);
  letter-spacing: 0.03em;
}

.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--txt-color);
}
.logo__web {
  color: var(--button-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--header-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--focus-color);
}

.social__icon {
  fill: currentColor;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  display: block;
  margin: auto;
  background-color: var(--button-color);
  color: var(--header-color);
  border: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: var(--anim-time) var(--animation-timing-function);
  transition: var(--anim-time) var(--animation-timing-function);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  border-radius: 4px;
}
.btn:hover, .btn:focus {
  background-color: var(--button-color);
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--bg-modal);
  opacity: 1;
  -webkit-transition: opacity var(--anim-time) var(--animation-timing-function), visibility var(--anim-time) var(--animation-timing-function);
  transition: opacity var(--anim-time) var(--animation-timing-function), visibility var(--anim-time) var(--animation-timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;
  background: var(--header-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim-time) var(--animation-timing-function);
  transition: -webkit-transform var(--anim-time) var(--animation-timing-function);
  transition: transform var(--anim-time) var(--animation-timing-function);
  transition: transform var(--anim-time) var(--animation-timing-function), -webkit-transform var(--anim-time) var(--animation-timing-function);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 9px;
  background-color: var(--header-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--anim-time) var(--animation-timing-function);
  transition: fill var(--anim-time) var(--animation-timing-function);
}

.modal__icon {
  display: block;
  -webkit-transition: fill var(--anim-time) var(--animation-timing-function);
  transition: fill var(--anim-time) var(--animation-timing-function);
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--button-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__field {
  position: relative;
}
.form__field:nth-child(-n+4) {
  margin-bottom: 10px;
}

.form__input {
  position: relative;
  padding: 12px 42px;
  color: var(--txt-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color var(--anim-time) var(--animation-timing-function);
  transition: border-color var(--anim-time) var(--animation-timing-function);
}
.form__input:hover, .form__input:focus {
  border-color: var(--focus-color);
}

.form-icon {
  position: absolute;
  bottom: 12px;
  left: 11px;
  z-index: 1;
  -webkit-transition: fill var(--anim-time) var(--animation-timing-function);
  transition: fill var(--anim-time) var(--animation-timing-function);
}
.form-icon:hover, .form-icon:focus {
  fill: var(--focus-color);
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--seconds-text);
}

.form__field--margin {
  margin-bottom: 20px;
}

.form__feedback {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color-50);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color var(--anim-time) var(--animation-timing-function);
  transition: border-color var(--anim-time) var(--animation-timing-function);
}
.form__feedback:not(:-moz-placeholder-shown) {
  color: var(--txt-color);
}
.form__feedback:not(:-ms-input-placeholder) {
  color: var(--txt-color);
}
.form__feedback:not(:placeholder-shown) {
  color: var(--txt-color);
}
.form__feedback:hover, .form__feedback:focus {
  border-color: var(--focus-color);
}

.form__label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  gap: 7px;
  cursor: pointer;
}

.form__icon-check {
  position: absolute;
  fill: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--anim-time) var(--animation-timing-function);
  transition: opacity var(--anim-time) var(--animation-timing-function);
}
.form__checkbox:checked ~ .form__icon-check {
  opacity: 1;
}

.form__icon-box {
  display: block;
  width: 16px;
  height: 15px;
  padding: 0;
  border: 2px solid var(--backgfoot-color);
  border-radius: 2px;
  outline: transparent;
  -webkit-transition: outline var(--anim-time) var(--animation-timing-function);
  transition: outline var(--anim-time) var(--animation-timing-function);
}
.form__checkbox:focus ~ .form__icon-box, .form__checkbox:hover ~ .form__icon-box {
  outline: 2px solid var(--button-color);
}

.form__policy-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--seconds-text);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__policy-link {
  color: var(--button-color);
}

.modal__btn {
  width: 200px;
  height: 50px;
}

.headr {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
}
.headr .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-right: auto;
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  color: var(--txt-color);
  font-weight: 500;
  padding: 32 0;
  line-height: 1.14;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--anim-time) var(--animation-timing-function);
  transition: color var(--anim-time) var(--animation-timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--button-color);
  border-radius: 4px;
}

.nav__link--curent {
  color: var(--button-color);
  position: relative;
}
.nav__link--curent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  border: transparent;
  background-color: var(--button-color);
  bottom: -3%;
  display: block;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.contact__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--seconds-text);
  text-decoration: none;
  fill: currentColor;
  -webkit-transition: var(--anim-time) var(--animation-timing-function);
  transition: var(--anim-time) var(--animation-timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--button-color);
}

.contact__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

footer {
  background-color: var(--backgfoot-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
footer__logo {
  color: var(--button-color);
}
footer__icon {
  fill: var(--backgfoot-color);
}

.adress {
  margin-top: 20px;
  height: 81px;
  width: 231px;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  padding-top: 20px;
  color: var(--header-color);
  -webkit-transition: color var(--anim-time) var(--animation-timing-function);
  transition: color var(--anim-time) var(--animation-timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--button-color);
}

.social__group {
  margin-left: 70px;
}

.social__title {
  color: var(--header-color);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__footer:hover, .social__footer:focus {
  background-color: var(--focus-color);
}

.send {
  margin-left: 93px;
}
.send__titel {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color);
}
.send__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send__input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--button-color);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color var(--anim-time) var(--animation-timing-function);
  transition: border-color var(--anim-time) var(--animation-timing-function);
}
.send__input:hover, .send__input:focus {
  border: 1px solid var(--focus-color);
}

.send__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--header-color);
  background-color: var(--button-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color var(--anim-time) var(--animation-timing-function);
  transition: background-color var(--anim-time) var(--animation-timing-function);
}
.send__btn:hover, .send__btn:focus {
  background-color: var(--focus-color);
}

.send__icon {
  fill: currentColor;
}

.hero {
  background-color: var(--backgfoot-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-backg.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-backg.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  height: 120px;
  width: 696px;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--header-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  gap: 30px;
}

.skills__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  background-color: var(--section-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
}

.skills__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-color);
}

.skills__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--seconds-text);
}

.activity {
  padding-bottom: 94px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.activity__items {
  position: relative;
}

.activity__label {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--txt-color);
}

.team {
  background-color: var(--section-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  color: var(--txt-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--header-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__cont {
  padding: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--txt-color);
  background-color: var(--header-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--seconds-text);
  background-color: var(--header-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.clients-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border var(--anim-time) var(--animation-timing-function), color var(--anim-time) var(--animation-timing-function);
  transition: border var(--anim-time) var(--animation-timing-function), color var(--anim-time) var(--animation-timing-function);
}
.clients-links:hover, .clients-links:focus {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  font-weight: 550;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  line-height: 1.6;
  border: var(--section-color);
  border-radius: 4px;
  background-color: var(--section-color);
  color: var(--txt-color);
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--button-color);
  border: var(--button-color);
  color: var(--header-color);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-set__item {
  width: 370px;
}

.card-set__card {
  display: block;
  text-decoration: none;
  color: var(--main-txt-color);
  -webkit-transition: -webkit-box-shadow var(--anim-time) var(--animation-timing-function);
  transition: -webkit-box-shadow var(--anim-time) var(--animation-timing-function);
  transition: box-shadow var(--anim-time) var(--animation-timing-function);
  transition: box-shadow var(--anim-time) var(--animation-timing-function), -webkit-box-shadow var(--anim-time) var(--animation-timing-function);
}
.card-set__card:hover, .card-set__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__card:hover .card-set__overlay, .card-set__card:focus .card-set__overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.card-set__group {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--backgsection-color);
}

.card-set__group-t {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--bords-colors);
}

.card-set__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--txt-color);
}

.card-set__uppertitle {
  font-size: 16px;
  line-height: 30px;
  color: var(--seconds-text);
}/*# sourceMappingURL=main.css.map */