:root {
  --background-color: #f5f5f5;
  --background-color-second: #f5f4fa;
  --background-hero: rgba(47, 48, 58, 0.4);
  --bg-cl-icon-footer: rgba(255, 255, 255, 0.1);
  --bg-label: rgba(47, 48, 58, 0.8);
  --bg-modal: rgba(0, 0, 0, 0.2);
  --bg-over: rgba(33, 150, 243, 0.9);
  --btn-shadow-cl: rgba(0, 0, 0, 0.15);
  --frame-header: #ececec;
  --frame-cards: #eeeeee;
  --backgraund-footer: #2f303a;
  --blue-color: #2196f3;
  --blue-second: #188ce8;
  --black-color: #212121;
  --grey-color: #757575;
  --grey-color-50: rgba(117, 117, 117, 0.5);;
  --white-color: #ffffff;
  --link-footer-cl: #ffffff99;
  --logo-cl: #000000;
  --cl-icon: #afb1b8;
  /* Шрифти */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  /* анімація */
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-time: 250ms;
}

body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--black-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

button {
  display: block;
  margin: 0;
  cursor: pointer;
  font-family: var(--main-font);
  border: none;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.nav-link,
.cont-link,
.address-link,
.contact-link__footer,
.works-card {
  text-decoration: none;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.13;
  text-align: center;

  margin-bottom: 50px;
  }

/*   HEADER     */
.header {
  border-bottom: 1px solid var(--frame-header);
}

.header-conteiner {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo,
.logo-footer {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-cl);
  text-decoration: none;
}

.logo-web {
  color: var(--blue-color);
}

.nav__link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  transition: color var(--anim-time) var(--animation-timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--blue-color);
}

.curent {
  position: relative;
  color: var(--blue-color);
}

.curent::after{
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--blue-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact__icon {
  fill: currentColor;
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: color var(--anim-time) var(--animation-timing-function);
}

.cont__link:hover,
.cont__link:focus {
  color: var(--blue-color);
}

.cont__link:nth-child(n + 2) {
  margin-left: 50px;
}

/*SECTION-1*/
.hero {
  background-color: var(--backgfoot-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-backg.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__titel {
  height: 120px;
  width: 696px;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  display: block;
  margin: auto;
  background-color: var(--blue-color);
  color: var(--background-color);
  border: var(--blue-color);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--anim-time)var(--animation-timing-function);
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  border-radius: 4px;
}

/*detail*/

.skill__list {
  display: flex;
}

.skill-list .skill-items + .skill-items {
  margin-left: 30px;
}

.skills__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-second);
}

.skills__item {
  width: 270px;
}

.skills__titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.skills__text {
  line-height: 1.71;
  color: var(--grey-color);
}

.activity-title,
.team-title,
.comp-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.13;
  text-align: center;

  margin-bottom: 50px;
}

/*we do*/
.activity {
  padding-top: 0;
}

.activity__list {
  display: flex;
  justify-content: space-between;
  
}

.activity__item{
  position: relative;
}

.activity-items:not(:first-child) {
  margin-left: 30px;
}

.activity__label{
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-label);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  }
  
/*team*/
.team {
  background-color: var(--background-color-second);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  color: var(--black-color);
}
.team__list {
  display: flex;
}
.team-items {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-items:not(:first-child) {
  margin-left: 30px;
}
.name-poz {
  padding: 30px;
}

.team__employee {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--black-color);
  background-color: var(--background-color);
}
.team__position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--grey-color);
  background-color: var(--header-color);
}
.social {
  display: flex;
  margin-top: 16px;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--cl-icon);
  transition: background-color var(--anim-time) var(--animation-timing-function);
}

.link-social:hover,
.link-social:focus {
  fill: var(--background-color);
  background-color: var(--blue-second);
}

/*Clients*/
.customers__list {
  display: flex;
  gap: 30px;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--cl-icon);
  border: 1px solid var(--cl-icon);
  border-radius: 4px;
  transition: color var(--anim-time) var(--animation-timing-function), 
  border var(--anim-time) var(--animation-timing-function);
}

.comp-link:hover,
.comp-link:focus {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.customers__icon {
  fill: currentColor;
}

/*foot*/

.footer {
  background-color: var(--backgraund-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-cont{
  display: flex;
  align-items: baseline;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.logo-footer {
  color: var(--white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  line-height: 1.71;
  color: var(--white-color);
  transition: color var(--anim-time) var(--animation-timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--blue-color);
}

.cont-link-footer {
  line-height: 1.71;
  color: var(--grey-color);
  transition: color var(--anim-time) var(--animation-timing-function);
  
}

.cont-link-footer:hover,
.cont-link-footer:focus {
  color: var(--blue-color);
}

.social__group {
  margin-left: 70px;
}

.social__titel {
  text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  color: var(--white-color);
}

.social--retreat {
  align-content: center;
  margin-top: 20px;
}

.footer__social{
  background-color: var(--bg-cl-icon-footer);
}

.social-group .link-social:hover,
.social-group .link-social:focus {
  background-color: var(--blue-color);
}

.social-group .icon-social {
  fill: var(--white-color);
}

.send-group{
  margin-left: auto;
}

.form-footer{
  display: flex;
}

.titel-form{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.send__input{
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--link-footer-cl);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--anim-time) var(--animation-timing-function);
}

.imp-mail-footer:focus-within,
.imp-mail-footer:hover{
  border: 1px solid var(--blue-color);
}

.send__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px var(--btn-shadow-cl);
  border-radius: 4px;

  transition: background-color var(--anim-time) var(--animation-timing-function);
}

.send__icon{
  fill: currentColor;
}
/*  МОДАЛЬНЕ ВІКНО  */
.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  background-color: var(--bg-modal);
  opacity: 1;
  transition: opacity var(--anim-time) var(--animation-timing-function),
  visibility var(--anim-time) var(--animation-timing-function);
}

.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-bg.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.1);

}

.modal__window{
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--anim-time) var(--animation-timing-function);
}


.modal__btn-x{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 9px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--anim-time) var(--animation-timing-function);
}

.modal__icon-x{
  display: block;
  transition: fill var(--anim-time) var(--animation-timing-function);
}

.btn-x:hover .icon-x,
.btn-x:focus .icon-x{
  fill: var(--blue-color);
}

.form-modal{
  display: flex;
  flex-direction: column;
}
.form-modal input,
textarea{
  display: block;
  width: 100%;
}

.titel-modal-form{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__input{
  position: relative;
  padding: 12px 42px;
  color: var(--black-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color var(--anim-time) var(--animation-timing-function);
}

.form-modal input:focus-within,
.form-modal input:hover,
.form-modal textarea:focus-within,
.form-modal textarea:hover{
  border-color: var(--blue-color);
}


.form-modal label:nth-child(-n + 4){
  margin-bottom: 10px;
}

.form-label-cont{
  position: relative;
}

.form__icon{
  position: absolute;
  bottom: 12px;
  left: 11px;
  z-index: 1;
  transition: fill var(--anim-time) var(--animation-timing-function);
}

.form-label-cont:focus-within .icon-form-cont,
.form-label-cont:hover .icon-form-cont{
  fill: var(--blue-color);
}



.form__label{
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.label-coment{
  margin-bottom: 20px;
}

.form__feedback{
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color-50);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--anim-time) var(--animation-timing-function);
}

.feedback-form:not(:placeholder-shown){
  color: var(--black-color);
}

.label-checkbox{
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  gap: 7px;

  cursor: pointer;
}

.form__icon-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.icon-check{
  position: absolute;
  fill: var(--white-color);
  background-color: var(--blue-color);

  border-radius: 2px;
  opacity: 0;

  transition: opacity var(--anim-time) var(--animation-timing-function);
}

.checkbox:checked + .icon-check{
  opacity: 1;
}

.form__icon-box{
  display: block;
  width: 16px;
  height: 15px;
  padding: 0;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  outline: transparent;
  transition: outline var(--anim-time) var(--animation-timing-function);
}

.checkbox:focus ~ .icon-checkbox,
.checkbox:hover ~ .icon-checkbox{
  outline: 2px solid var(--blue-color);
}

.form__policy-text{
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-color);
  user-select: none;
}

.form__policy-link{
  color: var(--blue-color);
}

.btn-modal{
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);

  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--anim-time) var(--animation-timing-function);
}

.btn-modal:hover,
.btn-modal:focus{
  background-color: var(--blue-second);
}

/*      PORTOFOLIO        */
.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.filter {
  background-color: var(--background-color-second);
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
  font-family: inherit;

  padding: 6px 22px;

  box-shadow: none;
  border-radius: 4px;
  border: 0;

  transition: background-color var(--anim-time) var(--animation-timing-function), 
  color var(--anim-time) var(--animation-timing-function),
  box-shadow var(--anim-time) var(--animation-timing-function);
}

.filter:hover,
.filter:focus {
  background-color: var(--blue-color);
  color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);

}
.works-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.works-item {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
}

.works-card {
  display: block;

  transition: box-shadow var(--anim-time) var(--animation-timing-function);
}

.works-card:hover,
.works-card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-card{
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  opacity: 0;
  background-color: var(--bg-over);
  
  
  transform: translateY(100%);
  
  transition: transform var(--anim-time) var(--animation-timing-function),
  opacity var(--anim-time) var(--animation-timing-function);
}

.works-card:hover .overlay,
.works-card:focus .overlay{
  opacity: 1;
  transform: translateY(0%);
}

.overlay-text{
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}

.work-titel-type {
  padding: 20px 24px;
  border: 1px solid var(--frame-cards);
  border-top: none;
}

.works-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.works-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-color);
}