.contacts {
    display: flex;
    gap: 50px;
  }
  .contact__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--seconds-text);
    text-decoration: none;
    fill: currentColor;
    transition: var(--anim-time)var(--animation-timing-function);
    &:hover, &:focus {
        color: var(--button-color);
    }
  }
  .contact__icon {
    display: inline-flex;
    margin-right: 10px;
    fill:currentColor;
  }