:root {
    /*Fonts */
    --main-font: Roboto Regular, Raleway, sans-serif;
    /* Text colors*/
    --txt-color: #212121;
    --seconds-text: #757575;
  
    /* Background-color*/
    --button-color: #2196f3;
    --backgfoot-color: #2f303a;
    --backgsection-color: #f5f5f5;
    --section-color: #f5f4fa;
    --header-color: #ffffff;
    /* Others*/
    --focus-color: #188ce8;
    --border-color: #ececec;
    --bords-colors: #eeeeee;
    --icon-color: #afb1b8;
    --btn-shadow: rgba(0, 0, 0, 0.15);
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --anim-time: 250ms;
  }