.skills__list {
    display: flex;
    margin: 0;
    gap: 30px;
  }
  .skills__icon {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    background-color: var(--section-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
  .skills__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--txt-color);
  }
  .skills__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--seconds-text);
  }