body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: var(--header-color);
    letter-spacing: 0.03em;
  }
.sections {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }